  <div class="main-content">
  	<div id="wrapper">
  		<section id="inner-headline">
  			<div class="container">
  				<div class="row">
  					<div class="col-lg-12">
  						<ul class="breadcrumb">
  							<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
  							<li >Blog</li>
  						</ul>
  					</div>
  				</div>
  			</div>
  		</section>
  		<section id="content">
  			<div class="container">
  				<div class="row">
  					<div class="col-lg-12">
  						<article>
  							<div class="post-image">
  								<div class="post-heading">
  									<h3><a href="#">{{ article.title }}</a></h3>
  								</div>
  								<img src="{{ article.photo }}" alt="" />
  							</div>
  							<p>
  								{{ article.content }}
  							</p>
  							<div class="bottom-article">
  								<ul class="meta-post">
  									<li><i class="icon-calendar"></i><i>{{ article.publishedOn }}</i></li>
  									<li><i class="icon-user">{{ userArticle.username }}</li>
  								</ul>
  							</div>
  						</article>
              <div class="table-responsive">
                <table class="table">
                  <tbody ng-repeat="comment in comments">
                    <tr>
                      <td>{{comment.utilisateur.username}}</td>
                      <td>{{comment.commentedDate | date:'yyyy-MM-dd'}}</td>
                      <td>{{comment.comment}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
                <br>
                <form class="form-horizontal" method="post" ng-submit="submitComment()">
                  <div class="form-group">
                    <div class="col-sm-12">
                      <textarea class="form-control" name="comment" id="comment" placeholder="Veuillez écrire votre commentaire ..." ng-model="form.userComment"></textarea>
                      <br>
                      <div class="col-sm-offset-2 col-sm-4">
                        <button type="submit" class="btn btn-theme">Ajouter</button>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </section>
      </div>
    </div>